if SHIELD_TOTEM_LEFT

    config ZMK_KEYBOARD_NAME
        default "TOTEM"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif # LEFT



if SHIELD_TOTEM

    config ZMK_SPLIT
        default y

endif # LEFT RIGHT